<form>
        <div class="form-group">
          <label for="exampleInputEmail1">Dados</label>
          <input type="email" class="form-control" id="exampleInputEmail1" disabled="" aria-describedby="emailHelp" placeholder="Destiny">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="password" class="form-control" id="exampleInputPassword1" disabled="" placeholder="Smith">
        </div>
       <div class="form-group text-center">
           <button type="button" class="btn btn-secondary" [routerLink]="['/category/list']">Cancelar</button>
       </div>        
    </form>

    
