
   <form>
        <div class="form-group">
          <label for="exampleInputEmail1">endereco</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
        </div>
       <div class="form-group text-center">
           <button type="button" class="btn btn-secondary" [routerLink]="['/category/list']">ok</button>
           <button type="button" class="btn btn-secondary" [routerLink]="['/category/list']">exit</button>
       </div>        
    </form>

    
