<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">mane</th>
        <th scope="col">acao</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>tardis</td>
       <button type="button" class="btn btn-secondary" [routerLink]="['/category/view']">new Category</button>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>chave</td>
        <button type="button" class="btn btn-secondary" [routerLink]="['/category/view']">new Category</button>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>doctor</td>
        <button type="button" class="btn btn-secondary" [routerLink]="['/category/view']">new Category</button>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>tardes2</td>
        <button type="button" class="btn btn-secondary" [routerLink]="['/category/view']">new Category</button>
      </tr>
    </tbody>
  </table>
  <div class="form-group text-center">
  <button type="button" class="btn btn-secondary" [routerLink]="['/category/form']">new Category</button>
  </div>