    <!-- TOPO -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img id="logo" src="assets\tardis.jpg" alt="Logomarca.">
            </div>
            <div class="col-6">
                <p class="destaque">tardis</p>    
            </div>
        </div>
    </div>

    <!-- MENU -->
    <div class="container bg-verde-musgo">
        <div class="row">
            <div class="col-8">
                <ul>
                <button type="button" class="btn btn-secondary" force-refresh-images="lupa.png" [routerLink]="['category/list']" >categoria-lista</button>
                
                </ul>

            </div>
            <div class="col-4">
                <ul>
                    <button type="button" class="btn btn-secondary">help</button>
                </ul>
            </div>
        </div>
    </div>

    <!-- CONTEUDO -->
    <div class="container" >
        <div class="row">
            <div class="btn-group-vertical col-2">
                <ul>
                    <button type="button" class="btn btn-secondary" [routerLink]="['category/list']">categoria</button>
                
                </ul> 
            </div>
            <div class="col-10">
                
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>

    <!-- RODAPE -->
    <div class="container">
        <div class="text-center bg-dark">
        <p style="color: black">
            <i>@ Divino Marcos - 2018 </i>
        </p>
        </div>
    </div>