 <!-- TOPO -->
 <div class="container">
    <div>
        <img id="logo" src="cart-200.png" alt="Logomarca muito louca.">
    </div>
    <div>
        <p class="destaque">THE WORLD'S LARGEST WEB DEVELOPER SITE</p>
    </div>
</div>

<!-- MENU -->




<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>


<!-- CONTEUDO -->
<div class="container">
    <div>
        <ul>
            <li><a href="http:www.google.com">Link 1</a></li>
            <li><a href="http:www.google.com">Link 1</a></li>
            <li><a href="http:www.google.com">Link 1</a></li>
        </ul> 
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

